<div class="table-responsive">
  <table id="lista-database" class="table table-bordered table-striped lista-table">
    <thead>
      <tr>
        <th>#ID</th>
        <th>姓名/社会地位</th>
        <th>法人名称/法人税号</th>
        <th>国家/地区</th>
        <th>市</th>
        <th>移除操作</th>
      </tr>
    </thead>

    <tbody>
      {% if all_transportadoras%}
      {% for transportadora in all_transportadoras %}
      <tr class="clickable-row" data-href="{% url 'cadastro:editartransportadoraview' transportadora.id %}">
        <td>{{transportadora.id}}</td>
        <td>{{transportadora.nome_razao_social}}</td>
        <td>{% ifequal transportadora.tipo_pessoa "PJ" %}{{transportadora.pessoa_jur_info.cnpj|default_if_none:""}}{% else %}{{transportadora.pessoa_fis_info.cpf|default_if_none:""}}{% endifequal %}</td>
        <td>{% if transportadora.endereco.all.0.uf %}{{transportadora.endereco.all.0.get_uf_display}}{% endif %}</td>
        <td>{{transportadora.endereco.all.0.municipio|default_if_none:""}}</td>
        <td class="lista-remove">
          <input type="checkbox" name="{{transportadora.id}}" id="remover-entrada-{{transportadora.id}}"/>
          <label class="remove-entry-label" for="remover-entrada-{{transportadora.id}}"></label>
        </td>
      </tr>
      {% endfor %}
      {%else%}
      {%endif%}
    </tbody>
  </table>
</div>