<div class="formset-box">

	{% for form in formset %}
	<div id="{{formset.prefix}}-{{forloop.counter0}}" class="formset" style="border:none;margin-bottom:0px;padding-bottom:0px;">

	  {% for field in form.visible_fields %}
	  <div class="col-sm-5" style="float:left;">
	    <div class="form-group">
	      <div class="form-line">
	        <label>{% if field.label %}{{field.label}}<span class="formset-padrao"> (图案)<i class="material-icons" title="标准输入将用于填写税务笔记、销售/购买订单等。">&#xE887;</i></span>{%else%}&nbsp;{%endif%}</label>
	        {% if field.errors %}<label class="error">{% for error in field.errors %}{{error}}{% endfor %}</label>{% endif %}
	        {{field}}
	      </div>
	    </div>
	  </div>
	  {% endfor %}
	  <a class="remove-formset" style="float:left;"></a>

	  {{ form.id }}

	  <div class="col-sm-12">
	    <a class="btn btn-xs add-formset">添加</a>
	  </div>
	</div>

	{% endfor %}

	{{formset.management_form}}

</div>